<div class="table">

<table>
    <div>
      <tr><th>№</th><th>Book's Title</th><th *ngIf="!toggle">Release date</th><th *ngIf="!toggle">Released</th></tr>
      <tr *ngFor="let book of bookInfo; let i = index" (click)="[onSelect(book), toggle = !toggle]" 
      [class.selected]="book === selectedBook">
        <td>{{book.id}}.</td>
        <td>
          <div id="td">{{book.title}}.</div>
          <div class="book-info" *ngIf="toggle && selectedBook.id == i+1">{{book.description}}</div>
        </td>
        <td *ngIf="!toggle">{{book.releaseDate}}</td>
        <td *ngIf="!toggle"> {{book.qtyRelease}}</td>
      </tr>
    </div>
  <p id="total">Total released books: {{sum}}</p>
</table>
</div>