<div class="table">

<table *ngIf="!toggle"
class="mat-elevation-z8">
  <tbody >
    <div>
      <tr><th>№</th><th>Book's Title</th></tr>
      <tr *ngFor="let book of bookInfo[0]" (click)="[onSelect(book), toggle = !toggle]" 
      [class.selected]="book === selectedBook">
        <td>{{book.id}}.</td>
        <td id="td"> {{book.title}}.</td>
      </tr>
    </div>
    <div>
      <tr><th>Release date</th><th>Released</th></tr> 
      <tr *ngFor="let item of bookInfo[1]">
        <td>{{item.releaseDate}}</td>
        <td> {{item.qtyRelease}}</td>
      </tr>
    </div>
  </tbody>
  <p id="total">Total released books: {{bookInfo[1][0].qtyRelease + bookInfo[1][1].qtyRelease + bookInfo[1][2].qtyRelease + bookInfo[1][3].qtyRelease + bookInfo[1][4].qtyRelease + bookInfo[1][5].qtyRelease}}</p>
</table>

<div class="book-info" *ngIf="toggle">
    <h2>Description</h2>
    <p>{{selectedBook.description}}</p>
    <button mat-raised-button color="primary" (click)="[toggle = !toggle]">Back</button>
</div>

</div>