<h3>Heroes</h3>
<div class="head">
<div class="card">
    <ul *ngFor="let hero of heroes, let i = index">
        <li>
            <p class="btn id">{{i+1}}</p> 
            <p class="btn name" (click)="[toggle = !toggle, onEvent($event)]">{{hero.name | titlecase}}</p>
            <p class="btn del" (click)="deleteHero(hero)">X</p>
        </li>
    </ul>

    <div *ngIf="toggle">
        <p>{{heroValue}} is my hero!</p>
        <button class="btn" (click)="toggle = !toggle">Close</button>
    </div>
</div>
    <form [formGroup]="form" (ngSubmit)="addNewHero()">
        <div class="flex">
            <label for="">Name:</label>
            <input type="text" (input)="onInput($event)" placeholder="Add Hero name">
            <button type="submit" class="btn">Create</button>
        </div>
    </form>
</div>