form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

div {
  margin: 0 auto;
  width: 50vw;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 240, 250, 1) 27%,
    rgba(206, 231, 247, 1) 44%,
    rgba(185, 220, 243, 1) 63%,
    rgba(167, 211, 240, 1) 85%,
    rgba(144, 200, 236, 1) 100%
  );
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 4px;
}

h2,
.small {
  text-align: center;
}
