<div>
    <h2>Create Account</h2>
    <p class="small">Create a free salmanwap account to access all content.</p>
    <form [formGroup]="form" (ngSubmit)="authorize()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Add your email" formControlName="email">
            <small></small>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Add your username" formControlName="username">
            <small></small>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Password</mat-label>
            <input matInput type="password" placeholder="Add your password" formControlName="password">
            <small></small>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Create a free account</button>
    </form>
</div>